<div class="feedback-container">
  <form
    action="https://forms.zohopublic.eu/contactspin1/form/ProductFeedback/formperma/BOpP7g59hlzGOFHdn9aYEJz-eK1J5gEP6Q60gtGhAnk/htmlRecords/submit"
    name="form"
    id="form"
    method="POST"
    accept-charset="UTF-8"
    enctype="multipart/form-data"
    ngNoForm
    novalidate
  >
    <input type="hidden" name="zf_referrer_name" value=""/>
    <!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
    <input type="hidden" name="zf_redirect_url" value=""/>
    <!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
    <input type="hidden" name="zc_gad" value=""/>
    <!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
    <h2>Product Feedback</h2>
    <p></p>
    <!--Name-->
    <label class="section-label"> Your Name</label>
    <div class="input-wrapper">
      <div class="name-input">
        <input
          type="text"
          maxlength="255"
          name="Name_First"
          id="Name_First"
          fieldType="7"
          placeholder=""
          [(ngModel)]="firstName"
        />
        <label for="Name_First">First</label>
      </div>
      <div class="name-input">
        <input
          type="text"
          maxlength="255"
          name="Name_Last"
          id="Name_Last"
          fieldType="7"
          placeholder=""
          [(ngModel)]="lastName"
        />
        <label for="Name_Last">Last</label>
      </div>
    </div>
    <!--Email-->
    <div class="section-label">Your Email <em>*</em></div>
    <div class="input-wrapper">
      <input
        type="email"
        maxlength="255"
        name="Email"
        [(ngModel)]="email"
        #emailModel="ngModel"
        required
        email
        fieldType="9"
        placeholder=""
      />
    </div>
    @if (emailModel.errors?.['required'] && emailModel.touched) {
      <div class="error">
        Email is required.
      </div>
    }
    @if (emailModel.errors?.['email'] && emailModel.touched) {
      <div class="error">
        Please enter a valid email address.
      </div>
    }
    <!--Multi Line-->
    <div class="section-label">Provide your feedback or request here</div>
    <div class="input-wrapper">
      <textarea
        name="MultiLine"
        [(ngModel)]="message"
        #messageModel="ngModel"
        maxlength="{{ maxLength }}"
        placeholder=""
        required
        rows="8"
      ></textarea>
      <!--Decision Box-->
    </div>
    <div class="char-counter">{{ maxLength - message.length }} characters remaining</div>
    @if (messageModel.errors?.['required'] && messageModel.touched) {
      <div class="error">
        Feedback is required.
      </div>
    }
    <input
      type="checkbox"
      id="DecisionBox"
      name="DecisionBox"
      value="true"
      [(ngModel)]="isTestimonial"
    />
    <label for="DecisionBox">Use my feedback as testimonial</label>

    <div class="input-wrapper">
      <button type="submit" [disabled]="emailModel.invalid || messageModel.invalid">Submit</button>
    </div>
  </form>
</div>
