/* Layout and container styling */
.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(8px);
  height: var(--navbar-height);

  margin: 0 auto;
  max-width: var(--page-max-width);

  z-index: 9999;
}

.top-right {
  display: flex;
  gap: 8px;
}

.title {
  margin: 0;
}

/* Link and button styling */
.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
}
